<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Polyglot Microfrontends</title>
  <meta name="importmap-type" content="systemjs-importmap" />

  <style>
    #people {
      margin-top: 200px;
    }

  </style>
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.dev.js",
        "react": "https://cdn.jsdelivr.net/npm/react@17.0.1/umd/react.development.js",
        "react-dom": "https://polyglot.microfrontends.app/npm/react-dom@17.0.1/umd/react-dom.development.js",
        "vue": "https://polyglot.microfrontends.app/npm/vue@2.6.12/dist/vue.js",
        "vue-router": "https://polyglot.microfrontends.app/npm/vue-router@3.4.9/dist/vue-router.js",
        "@polyglot-mf/root-config": "//localhost:9000/polyglot-mf-root-config.js",
        "@polyglot-mf/navbar": "//localhost:8600/polyglot-mf-navbar.js",
        "@polyglot-mf/clients": "//localhost:8500/js/app.js",
        "@polyglot-mf/styleguide": "//polyglot.microfrontends.app/styleguide/735a89a8981b97cc435e3fb0b601379dd3f252f9/polyglot-mf-styleguide.js"
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <template id="single-spa-layout">
    <single-spa-router>
      <nav class="topnav">
        <application name="@polyglot-mf/navbar"></application>
      </nav>
      <div class="main-content">
        <route path="clients">
          <application name="@polyglot-mf/clients"></application>
        </route>
        <route path="four-oh">
          <application name="four-oh"></application>
          <div id="four-oh"></div>
        </route>
      </div>
    </single-spa-router>
  </template>
</head>

<body>
  <script>
    System.import('@polyglot-mf/root-config');
    System.import('@polyglot-mf/styleguide');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>
